#main-container {
    display: flex;
    justify-content: center;
}

#calculator { 
    border: 3px solid black; 
    border-radius: 15px;   
    height: 500px;
    width: 375px;
    margin-top: 30px;
    padding: 12px;
}

#buttons-container {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, 1fr);
}

#screen {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 12px;
    width: 374px;
    height: 200px;
    margin-bottom: 15px;
}

button {
    border-width: 1px;
    padding: 0;
    border-radius: 50px;
    width: 50x;
    height: 50px;
    font-size: 16px;
}

#equal-botton {
    border-radius: 35px;
    grid-column: 4;
    grid-row: 4 / span 2;
    height: 105px;
}